.header{
    display:flex;
    border: 3px solid $header-outline;
    max-width: 43.75rem;
    width: 100%;

    margin-top: 1.875rem;
    border-radius: 1rem;
    padding: 1.25rem;

    display: flex;
    justify-content: space-between;

    .text{
        font-size: 2.5rem;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 2rem;
    }

    .score-box{
        padding: .75rem 2.5rem;
        background-color: #fff;
        color: $score-text;
        border-radius: 5px;

        &__score{
            color: $dark-text;
            font-size: 3.5rem;
            font-weight: 700;
        }

    }
}