//colors

$scissors-gradient: hsl(39, 89%, 49%);
$paper-gradient: hsl(230, 89%, 62%);
$rock-gradient: hsl(349, 71%, 52%);


//text

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

//Background
$background-gradient: radial-gradient(circle, hsl(214, 47%, 23%),
hsl(237, 49%, 15%)
);

//Images

$imageP:"../src/images/icon-paper.svg";
$imageS:"../src/images/icon-scissors.svg";
$imageR:"../src/images/icon-rock.svg";

